<ion-menu side="end" menuId="menu" contentId="app-content">
  <ion-header>
    <ion-toolbar translucent color="primary">
      <ion-title color="dark">Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button *ngIf="app.DEV_MODE" expand="block" color="dark" (click)="redirectTo('dev')">
        dev
      </ion-button>

      <ion-item (click)="app.toggleTheme()" disabled>
        <ion-icon *ngIf="app.THEME == 'dark'" name="moon" slot="start"></ion-icon>
        <ion-icon *ngIf="app.THEME == 'light'" name="sunny" slot="start"></ion-icon>
        <ion-label>Tema</ion-label>
      </ion-item>

      <ion-button *ngFor="let page of ALL_PAGES | keyvalue : defaultOrder" expand="block" color="dark" id="page-{{page.key}}"(click)="redirectTo(page.value)">
        {{page.value}}
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
