<ion-app>
  <main id="app-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{CURRENT_URL}}
        </ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="toggleMenu()">
            <ion-icon name="cog"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>

    <ion-footer>
      <ion-toolbar>
        Desenvolvido por <b>{{APP_AUTHOR}}</b>
      </ion-toolbar>
    </ion-footer>
  </main>

  <app-sidemenu></app-sidemenu>
</ion-app>
