@import "../global.scss";

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-header {
  ion-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: calc(var(--responsiveUnit) * 2);
  }

  ion-toolbar {
    --background: $dark;
    background: $dark;
    --color: $light;
    color: $light;
  }

  ion-button {
    // font-size: calc(var(--responsiveUnit) * 1);

    ion-icon {
      font-size: calc(var(--responsiveUnit) * 3.5);
    }
  }
}

ion-router-outlet {
  position: relative;
  height: 100%;
}

ion-footer {
  ion-toolbar {
    text-align: center;
    --background: $dark;
    --color: $light;
    background: $dark;
    color: $light;
    height: auto;
    font-size: calc(var(--responsiveUnit) * 2);
  }
}

*[hideMe="true"] {
  opacity: 0;
  pointer-events: none;
}
