@import "../../../global.scss";

ion-content {
  background-color: $light;
  --background: $light;
  color: $dark;
  --color: $dark;

  p {
    font-family: "test2";
  }

  span {
    font-family: "test3";
  }
}
